body {
    margin:0;
    padding:0;
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width:500px;
    height:300px;
    background-color: blanchedalmond;
    position: relative;
    border-radius: 10px;
}

img {
    width:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:200px;
}

p {
    position:absolute;
    top:80px;
    padding:20px;
}

h4 {
    position: absolute;
    bottom: 20px;
    right:40px;
}